h1{color: red} 

.text-center{
  text-align: center;
}

.bg-red{
  background-color: red;
}

.mx-auto{   
  margin: auto;
}
.m-w-30{
  max-width: 30vw;
}
.flex{
 display: flex;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}
